.linha {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

h1, h10 {
  text-align: center;
}

.App{
  margin: auto;
  max-width: 900px;
}

.nome {
  text-align: center;
  font-size: small;
  margin-top: 40px;
  margin-bottom: 40px;
}

.rot {
  background: linear-gradient(transparent, #afc6cf, #4c8ca5 100%, transparent 60%)
}